<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password - Qubono</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
    <body style="margin: 0; padding: 0; width: 100%; background-color: #f4f4f4; font-family: Arial, sans-serif; color: #333333;">
    <table role="presentation" width="100%" style="background-color: #f4f4f4;" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table role="presentation" width="680" style="max-width: 680px; width: 100%; margin: 0px auto; background-color: #ffffff; border-radius: 8px; font-family: 'Poppins', Arial, sans-serif;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding: 40px 50px; text-align: left;">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding: 20px 0;">
                                        <p style="font-size: 17px; font-family: 'Inter', Arial, sans-serif; font-weight: 400; color: #4F5A68; line-height: 1.4em; margin: 0;">Hey there,<br><br>It looks like you forgot your password – don't worry, it happens! <br> Just click the link below to reset it and get back to what you were doing:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 40px 0; padding-bottom:120px">
                                        <a href="{{url}}" style="display: inline-block; background-color: #6941c6; color: #ffffff; padding: 14px 20px; border-radius: 12px; font-size: 18px; font-family: 'Inter', Arial, sans-serif; text-decoration: none;">Reset My Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Inter', Arial, sans-serif; font-size: 14px; color: #4F5A68; line-height: 20px; border-top: 1px solid #D4D5D6; padding-top: 20px; margin-top: 30px;">
                                        <p style="padding-bottom: 25px;margin: 0;padding-top: 20px;">If you didn't request a password reset, feel free to ignore this email. Your account is safe.</p>
                                        <p style="margin: 10px 0 0 0;">© 2025 Qubono. All rights reserved.
                                            <br>
                                            Need help? Just reply to this email and we'll sort it out for you.</p>
                                            <p style="margin: 0;">Talk soon,<br>The Qubono Team</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>