<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verfiy email!</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
    <body style="margin: 0; padding: 0; width: 100%; background-color: #f4f4f4; font-family: Arial, sans-serif; color: #333333;">
    <table role="presentation" width="100%" style="background-color: #f4f4f4;" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table role="presentation" width="680" style="max-width: 680px; width: 100%; margin: 0px auto; background-color: #ffffff; border-radius: 8px; font-family: 'Poppins', Arial, sans-serif;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding: 40px 50px; text-align: left;">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding-top: 120px;">
                                        <p style="font-size: 37px; color: #4F5A68; margin: 0; font-family: 'Inter', Arial, sans-serif; font-weight: 500; letter-spacing: -1px; line-height: 1.2em;">Alright, here's the deal—before you can start</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0;">
                                        <p style="font-size: 17px; font-family: 'Inter', Arial, sans-serif; font-weight: 400; color: #4F5A68; line-height: 1.4em; margin: 0;">We just need to make sure you're you. Click the button below to verify your email, and boom—you'll be able to sign up.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 40px 0; padding-bottom:120px">
                                        <a href="{{url}}" style="display: inline-block; background-color: #6941c6; color: #ffffff; padding: 14px 20px; border-radius: 12px; font-size: 18px; font-family: 'Inter', Arial, sans-serif; text-decoration: none;">Verify email</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Inter', Arial, sans-serif; font-size: 14px; color: #4F5A68; line-height: 20px; border-top: 1px solid #D4D5D6; padding-top: 20px; margin-top: 30px;">
                                        <p style="padding-bottom: 25px;margin: 0;padding-top: 20px;">If you did not sign up for this account, you can ignore this email, and the account will be deleted.</p>
                                        <p style="margin: 0;">Best regards,<br>The Qubono Team</p>
                                        <p style="margin: 10px 0 0 0;">© 2025 Qubono. All rights reserved.
                                            <br>
                                            You're receiving this email because you have an account with Qubono.<br>
                                            Need help? <a href="mailto:support@Qubono.com" style="color: #6941c6; text-decoration: none;">Contact Support.</a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>